*.o
*.a
*.gz
configure
configure.ac
config.*
Makefile
autom4te.cache
edge
example_edge_embed_quick_edge_init
example_edge_embed
example_sn_embed
supernode
tools/n2n-benchmark
tools/n2n-decode
build
packages/debian/debian/changelog
packages/debian/debian/control
packages/debian/debian/files
packages/debian/debian/rules
packages/etc/systemd/system/edge-ntopng@.service
packages/etc/systemd/system/edge.service
packages/etc/systemd/system/edge@.service
packages/etc/systemd/system/supernode.service
*dSYM*
