*.o
*.a
*.gz
configure
configure.ac
config.*
Makefile
autom4te.cache
benchmark
edge
n2n-decode
example_edge_embed
supernode
build
packages/debian/debian/changelog
packages/debian/debian/control
packages/debian/debian/files
packages/debian/debian/rules
packages/etc/systemd/system/edge-ntopng@.service
packages/etc/systemd/system/edge.service
packages/etc/systemd/system/edge@.service
packages/etc/systemd/system/supernode.service
